<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href = "/assets/CSS/style.css">
        
    </head>
    <body>
        <header class = header>
            <h1>Welcome to TwoNote &copy; TinySoft</h1>
            <img src = "/assets/images/TinySoft-logo.png" alt = "logo" class ="logo">
        </header>
            <p class = "tag-line">(Big ideas, tiny software)</p>
            <h1 class = "header"> <%= page %></h1>
            

