
       <%- include("partials/header", {
            title: "login - TwoNote",
            page: "Login Page"
       }) %>
            <form action = "/users/login" method = "post" class = "login-form">
                <input id = "login-username" class = "username-input" type = "text" placeholder = "Username" name = "username" required>
                <br>
                <input id = "login-password" class = "password-input" type = "password" placeholder = "Password" name = "password" required> 
                <br>
                <button class = "btn btn-outline-light" type = "submit" data-action = "login">Login</button>
                <button class = "btn btn-outline-light" type = "reset" data-action = "reset">Reset</button>
                <button id = "signup-btn" class = "btn btn-link" type = "button" data-action = "signup">Signup</button>
            </form>
       
       
        <script type = "module" src = "/script/function.js"></script>
    </body>
</html>


