body{
    background-color: black;
    color: white;
}
.logo{
    width: 100px;
    right: 20px;
    padding-left: 10%;
}



.header, .tag-line{
    clear: both;
    color: #8034b2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.login-form{
    clear: both;
    text-align: center;
}

.username-input, .password-input, .btn{
    margin: 5px;
}

.btn{
    background-color: #a86dd9;
    color: #C0C0C0
}